* {
    box-sizing: border-box;
  }
  
/* header */

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    background: #13293d;
}

h1 {
    font-size: 30px;
    color:lightpink;
    text-align: center;
    display: inline-block; 
}

/*nav section*/

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}  

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

nav ul li a{
    color: lightpink;
    padding: 8px;
}

/* subtitle */
    
.container1 {
    position: relative;
    font-family: Arial;
  }
  
.subtitle {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color:lightpink;
    color: #13293d;
    padding-left: 10px;
    padding-right: 10px;
}

/*main section*/

body{
    background-color:cornsilk ;   
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }

.container2 { 
    padding: 10px;
    padding-left: 10px;;
    color:#13293d;
    margin-bottom: 1%;
    
}

.container2 h2{

    float: left;
    margin-left: 15%;  
    font-size: 30px;
}

.container2 p {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 0;
    float: right;
    padding: 20px;
    font-size: 15px;
    width: 65%;
    height: 100px;
    border-left: 10px solid lightblue;
   


}

.container3 {
    background-color:#13293d;
    border: 5px solid lightskyblue;
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    justify-content: space-between;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 30px auto;
  }
  
.container3 img {
    align-items: center;
    width: 100%;
    min-width: 400px;
  }
  

.container3:hover {
   
    font-size: 20px;
    background:lightpink;
}


  @media screen and (max-width: 992px) {
    .container3 {
      width: 50%;
    }
    .container3{
      background: lightcoral;
    }

    .container2 {
        width: 50%;
      }
  }
  
  
  @media screen and (max-width: 768px) {

    .container3{
        margin: 5%;
      width: 100%;
    }
    /* Change the header color */
    .container3 {
      background: #8ac4ff;
    }

    .container2 {
        margin:5%;
      width: 100%;
    }
    .container2 p {
        margin: 4%;;
    }
  }

/* footer */

footer {
    margin-top: 10%;
    flex-shrink: 0;
    padding: 10px;
    background-color: #13293d;
    width: 100%;
    color:lightpink;  
}

footer h2 {
    text-align: center;
    display: inline-block; 

}

nav ul li a:hover {
   
    color:blue;
    background: chartreuse;
}